<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <nav>
        <ul class="navbar">
            <div class="kotak-panjang" style="width: 100%; height: 60px; background-color: white; color: black; font-family: Arial; display: flex; align-items: center;">
                <a href="/"><button>Home</button></a>
                <a href="/login"><button>Login</button></a>
                <a href="/add"><button>Add</button></a>
            </div>
        </ul>
    </nav>
</body>
</html>
