<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Harga Total</title>
    <!-- Sertakan CSS Bootstrap jika diperlukan -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <div class="container">
        <h1>Harga Total</h1>
        <p>Nama Paket: <%= name %>
        </p>
        <p>Harga per Paket: <%= price %>
        </p>
        <p>Jumlah yang Dipesan: <%= quantity %>
        </p>
        <p>Harga Total: <%= totalPrice %>
        </p>
        <a href="/">Kembali ke Beranda</a>
    </div>

    <!-- Sertakan skrip JavaScript Bootstrap jika diperlukan -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>